<html>
    <head>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    </head>
    <body>
        <canvas id="myChart" width="400" height="200" style="width: 25px; height: 50px;"></canvas>
        <button id="prevButton">Future Dates</button>
        <button id="nextButton">Past Dates</button>
    <script>
        const today = new Date();
        const formattedDate = `${today.getFullYear()}-${String(today.getMonth() + 1).padStart(2, '0')}-${String(today.getDate()).padStart(2, '0')}`;

        console.log(formattedDate);
        function fetchCategories(){

        fetch('/api/categories')
        .then(response => response.json())
        .then(categories => {
            const modal = document.createElement('div');
            modal.className = 'modal';

            const modalContent = document.createElement('div');
            modalContent.className = 'modal-content';

            const dropdownList = document.createElement('select');
            dropdownList.id = 'categoryDropdown';
            // Use a Set to store unique category names
            const uniqueCategories = new Set();

            categories.forEach(category => {
                uniqueCategories.add(category.category);
            });

            // Convert the Set to an array and create options for the dropdown
            const uniqueCategoriesArray = Array.from(uniqueCategories);
            uniqueCategoriesArray.forEach(categoryName => {
                const option = document.createElement('option');
                option.value = categoryName;
                option.text = categoryName;
                dropdownList.appendChild(option);
            });

            // Add event listener to load subcategories
            dropdownList.addEventListener('change', loadSubcategories);

            modalContent.appendChild(dropdownList);
           
            // Create and append the action button
            const actionButton = document.createElement('button');
            actionButton.id = 'actionButton';
            actionButton.innerText = 'Submit';
            actionButton.addEventListener('click', handleButtonClick);
            modalContent.appendChild(actionButton);

            modal.appendChild(modalContent);
            // Open the modal
            document.body.appendChild(modal);
        })
        .catch(error => {
            console.log('Error:', error);
        });
    }
    function loadSubcategories() {
            const selectedCategory = document.getElementById('categoryDropdown').value;
            
            fetch(`/api/subcategories?category=${selectedCategory}`)
                .then(response => response.json())
                .then(subcategories => {
                    const subcategoryDropdown = document.createElement('select');
                    subcategoryDropdown.id = 'subcategoryDropdown';
                     // Default option
            const defaultOption = document.createElement('option');
            defaultOption.value = "";
            defaultOption.text = "Select a subcategory";
            subcategoryDropdown.appendChild(defaultOption);
                    // Use a Set to store unique subcategory names
                const uniqueSubcategories = new Set();

                subcategories.forEach(subcategory => {
                    uniqueSubcategories.add(subcategory.subcategory);
                });

                // Convert the Set to an array and create options for the dropdown
                const uniqueSubcategoriesArray = Array.from(uniqueSubcategories);
                uniqueSubcategoriesArray.forEach(subcategoryName => {
                    const option = document.createElement('option');
                    option.value = subcategoryName;
                    option.text = subcategoryName;
                    subcategoryDropdown.appendChild(option);
                });

                // Clear any previously loaded subcategories
                const existingSubcategoryDropdown = document.getElementById('subcategoryDropdown');
                if (existingSubcategoryDropdown) {
                    existingSubcategoryDropdown.remove();
                }
    
                    // Append the new subcategory dropdown to the modal
                    const modalContent = document.querySelector('.modal-content');
                    modalContent.appendChild(subcategoryDropdown);
                    // Attach an event listener to the subcategory dropdown to load products when a subcategory is selected
                    document.getElementById('subcategoryDropdown').addEventListener('change', crafter);
                })};
                let all_offers_productid = [];
                let all_offers=[];
                let id_offervalue_map = new Map();
            let datepriceArray=[];
            let finalArray=[];
            let count = 1;
            let obj={};
            // Declare an object variable outside the function to store grouped data
let finalObject = {};

  function trialfetch(){
    fetch(`/api/2fetchtrial`)
    .then(response => response.json())
    .then(fetchedOffers => {
        
        const groupedData = fetchedOffers.reduce((acc, obj) => {
        const { id, ...rest } = obj;

        if (!acc[id]) {
            acc[id] = [];
        }

        acc[id].push(rest);
        
        return acc;
        }, {});
       
        
        // Store grouped data into the final object
        finalObject = groupedData;
    })
    .catch(error => console.error('Error:', error));
}


  trialfetch();
  
    function crafter(){
        console.log('crafter triggered')
        const selectedCategory = document.getElementById('categoryDropdown').value;
        const selectedSubcategory = document.getElementById('subcategoryDropdown').value;

        console.log('Selected Category:', selectedCategory);
        console.log('Selected Subcategory:', selectedSubcategory);
    }
    let filtered_offers = [];
    let filt_offers =[];
    let priceDifferenceMap = new Map();
    let sevenDaysBeforeMap = new Map(); 
    let pricesArray =[];
    fetchCategories();


    
    function handleButtonClick() {
                
        const selectedCategory = document.getElementById('categoryDropdown').value;
        const selectedSubcategoryDropdown = document.getElementById('subcategoryDropdown');
        const selectedSubcategory = selectedSubcategoryDropdown ? selectedSubcategoryDropdown.value : null;

    if (selectedCategory && !selectedSubcategory) {
        // Only category is selected
        console.log('Only category selected:', selectedCategory);
        for (const key in finalObject) {
            finalObject[key].prices =[];
            finalObject[key].averages =[];
        
            if (finalObject.hasOwnProperty(key)) {  // This line is to filter out properties from the object's prototype
                
                for (const row in finalObject[key]){
                   
                   finalObject[key].category = finalObject[key][0].category
                   finalObject[key].discount_hunter = finalObject[key][0].discount_hunter
                   finalObject[key].dislikes = finalObject[key][0].dislikes
                   finalObject[key].likes = finalObject[key][0].likes
                   finalObject[key].offer_value = finalObject[key][0].offer_value
                   if (finalObject[key][row].value && finalObject[key][row].date){
                   finalObject[key].prices.push({value: finalObject[key][row].value,
                                                date:finalObject[key][row].date})
                   }
                   finalObject[key].id = key
                   finalObject[key].product_id = finalObject[key][0].product_id
                   finalObject[key].rate = finalObject[key][0].rate
                   finalObject[key].shop_name = finalObject[key][0].shop_name
                   finalObject[key].start_date = finalObject[key][0].start_date
                   finalObject[key].stock = finalObject[key][0].stock
                   finalObject[key].subcategory = finalObject[key][0].subcategory
                   
                    
                }
                 // filter the finalObject
            finalObject[key].splice(0, finalObject[key].length);
            if( finalObject[key].category === selectedCategory){
                console.log('found offer with the category selected')
                filt_offers.push(finalObject[key])
                
            }
            }
            }
            
            let result = [];
            let dates =[];
            filt_offers.forEach(offer=>{
                const prices = offer.prices
                for (let i = prices.length -1 ; i>= 0; i--){
                    let sum = 0;
                    for(let j = i ; j >= Math.max(0, i - 6) ; j--){
                        sum += prices[j].value
                }
                
                offer.averages.push(offer.offer_value - sum/7)
                }
            })
            for (let i = 0; i < filt_offers[0].averages.length; i++) {
                let sum = 0; // Initialize a variable to store the sum of averages at each position
                
                for (let j = 0; j < filt_offers.length; j++) {
                    sum += filt_offers[j].averages[i] / filt_offers.length; // Sum the averages at the same position
                }
                
                result.push(sum); // Push the sum into the result array
            }
            
            for (let i=0; i < filt_offers[0].prices.length; i++){
                dates.push(filt_offers[0].prices[i].date.substring(0, 10))
            }

            let startIndex = 0; // Index of the first visible data point
            const dates1 = dates.reverse();
            const ctx = document.getElementById('myChart').getContext('2d');
            function updateChart() {
            const endIndex = startIndex + 7 ; // Show the last 7 values
            
            
            console.log('dates1',dates1)
            const visibleDates = dates1.slice(startIndex, endIndex);
            
            const visibleResults = result.slice(startIndex, endIndex);

            myChart.data.labels = visibleDates;
            myChart.data.datasets[0].data = visibleResults;
            console.log('visibledates',visibleDates)
            console.log('visibleResults',visibleResults)
            myChart.update();
        }
            
            const myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [], // X-axis labels as JavaScript Date objects
                datasets: [{
                    label: 'Result Data',
                    data: [], // Y-axis data from the 'result' array
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 2,
                    fill: false
                }]
            }
        });
         // Initial chart display
         updateChart();
        console.log('startindexdasd',startIndex)
// Button event listeners for navigation
document.getElementById('prevButton').addEventListener('click', () => {
    console.log('start index',startIndex)
    if (startIndex > 0) {
        startIndex -= 7;
        updateChart();
    }
});

document.getElementById('nextButton').addEventListener('click', () => {
    console.log('nextbutton startindex',startIndex)
    if (startIndex + 7 < dates.length) {
        startIndex += 7;
        console.log('nextbutton startindex2',startIndex)
        updateChart();
    }
});
            
}

 else if (selectedCategory && selectedSubcategory) {
        // Both category and subcategory are selected
        console.log('Category and subcategory selected:', selectedCategory, selectedSubcategory);
        
        for (const key in finalObject) {
            finalObject[key].prices =[];
            finalObject[key].averages =[];
            if (finalObject.hasOwnProperty(key)) {  // This line is to filter out properties from the object's prototype
                
                for (const row in finalObject[key]){
                   
                   finalObject[key].category = finalObject[key][0].category
                   finalObject[key].discount_hunter = finalObject[key][0].discount_hunter
                   finalObject[key].dislikes = finalObject[key][0].dislikes
                   finalObject[key].likes = finalObject[key][0].likes
                   finalObject[key].offer_value = finalObject[key][0].offer_value
                   if (finalObject[key][row].value && finalObject[key][row].date){
                   finalObject[key].prices.push({value: finalObject[key][row].value,
                                                date:finalObject[key][row].date})
                   }
                   finalObject[key].id = key
                   finalObject[key].product_id = finalObject[key][0].product_id
                   finalObject[key].rate = finalObject[key][0].rate
                   finalObject[key].shop_name = finalObject[key][0].shop_name
                   finalObject[key].start_date = finalObject[key][0].start_date
                   finalObject[key].stock = finalObject[key][0].stock
                   finalObject[key].subcategory = finalObject[key][0].subcategory
                    
                }
                 // filter the finalObject
            finalObject[key].splice(0, finalObject[key].length);
            if( finalObject[key].category === selectedCategory && finalObject[key].subcategory === selectedSubcategory){
                console.log('Found offer with the category selected')
                filt_offers.push(finalObject[key])
            }
            else{
                console.log('No offer matching to your selections')
            }
            }
            }
        
            let result = [];
            let dates =[];
            filt_offers.forEach(offer=>{
                const prices = offer.prices
                for (let i = prices.length -1 ; i>= 0; i--){
                    let sum = 0;
                    for(let j = i ; j >= Math.max(0, i - 6) ; j--){
                        sum += prices[j].value
                }
                
                offer.averages.push(offer.offer_value - sum/7)
                }
            })
            for (let i = 0; i < filt_offers[0].averages.length; i++) {
                let sum = 0; // Initialize a variable to store the sum of averages at each position
                
                for (let j = 0; j < filt_offers.length; j++) {
                    sum += filt_offers[j].averages[i] / filt_offers.length; // Sum the averages at the same position
                }
                
                result.push(sum); // Push the sum into the result array
            }
            
            for (let i=0; i < filt_offers[0].prices.length; i++){
                dates.push(filt_offers[0].prices[i].date.substring(0, 10))
            }

            let startIndex = 0; // Index of the first visible data point
            const dates1 = dates.reverse();
            const ctx = document.getElementById('myChart').getContext('2d');
            function updateChart() {
            const endIndex = startIndex + 7 ; // Show the last 7 values
            
            
            console.log('dates1',dates1)
            const visibleDates = dates1.slice(startIndex, endIndex);
            
            const visibleResults = result.slice(startIndex, endIndex);

            myChart.data.labels = visibleDates;
            myChart.data.datasets[0].data = visibleResults;
            console.log('visibledates',visibleDates)
            console.log('visibleResults',visibleResults)
            myChart.update();
        }
            
            const myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [], // X-axis labels as JavaScript Date objects
                datasets: [{
                    label: 'Result Data',
                    data: [], // Y-axis data from the 'result' array
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 2,
                    fill: false
                }]
            }
        });
         // Initial chart display
         updateChart();
        console.log('startindexdasd',startIndex)
// Button event listeners for navigation
document.getElementById('prevButton').addEventListener('click', () => {
    console.log('start index',startIndex)
    if (startIndex > 0) {
        startIndex -= 7;
        updateChart();
    }
});

document.getElementById('nextButton').addEventListener('click', () => {
    console.log('nextbutton startindex',startIndex)
    if (startIndex + 7 < dates.length) {
        startIndex += 7;
        console.log('nextbutton startindex2',startIndex)
        updateChart();
    }
});
} else {
        console.log('Please select a category.');
    }
}



// Dates calculators

function stringToDate(dateString) {
    return new Date(dateString);
}

function subtractDays(date, days) {
    const copyDate = new Date(date.getTime());
    copyDate.setDate(copyDate.getDate() - days);
    return copyDate;
}

function formatDate(date) {
    return `${date.getFullYear()}-${String(date.getMonth() + 1).padStart(2, '0')}-${String(date.getDate()).padStart(2, '0')}`;
}
</script>
</body>
</html>