<!DOCTYPE html>
<html>
<head>
    
    <title>Map User Location</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
     <!-- Make sure you put this AFTER Leaflet's CSS -->
    
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        #map {height: 150px;
             height: 500px;
}   
    </style>
</head>
<body>
    
    <h1>Map User Location</h1>
    <div id="map"></div>
    <input type="text" id="tagNameInput" placeholder="Enter tag name">
    <button id="createMarkersButton">Create Markers</button>
    <div class="productsTableContainer"></div>
    <p id="errorMsg" style="color:red;"></p>
    </div>
    <div class="productPriceFormContainer" style="display: none;"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrsasign/10.4.0/jsrsasign-all-min.js"></script>
    <script>
        
        var map = L.map('map')
        map.setView([38.2462420, 21.7350847], 16);
    
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);
    
    
        //markers
        let marker = L.marker([38.246242, 21.7350847]).addTo(map);
        marker.bindPopup("<b>Πλατεία Γεωργίου</b>");
    
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                function (position) {
                    var latitude = position.coords.latitude;
                    var longitude = position.coords.longitude;
    
                    // Create a marker with the current location coordinates
                    var marker = L.marker([latitude, longitude], { draggable: true }).addTo(map);
                    marker.bindPopup("<b>Your Location</b>").openPopup();
    
                    // Pan the map to the current location
                    map.panTo([latitude, longitude]);
                },
                function (error) {
                    console.log("Error getting current position:", error);
                }
            );
        } else {
            console.log("Geolocation is not supported by this browser.");
        }
    
        // Add event listener to the button
        document.getElementById('createMarkersButton').addEventListener('click', createMarkers);
        
        //last markerclicked
        let lastClickedMarkerName;
        // Function to handle button click
        function createMarkers() {
            // Get the user input from the input field
            const tagName = document.getElementById('tagNameInput').value;
    
            // Define the Overpass API query
            const patrasCoordinates = '38.2468,21.7347,38.3052,21.8031';
            const overpassQuery = `[out:json][timeout:25];
            (
              node["shop"="supermarket"](${patrasCoordinates});
              node["shop"="convenience"](${patrasCoordinates});
            );
            out center;`;
    
            // Make the Overpass API request using Fetch API
            fetch('https://overpass-api.de/api/interpreter', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: 'data=' + encodeURIComponent(overpassQuery)
            })
                .then(response => response.json())
                .then(data => {
                    const results = data.elements;
                    const nodesList = [];
    
                    // Process the results
                    results.forEach(result => {
                        const latitude = result.lat;
                        const longitude = result.lon;
                        const tags = result.tags;
    
                        const node = {
                            latitude,
                            longitude,
                            tags
                        };
    
                        nodesList.push(node);
                        console.log(nodesList);
                    });
    
                    // Filter the nodesList based on the tag name
                    const filteredNodes = nodesList.filter(node => node.tags && node.tags.name === tagName);
    
                    // Create markers for the filtered nodes and add them to the map
                    filteredNodes.forEach(node => {
                        const { latitude, longitude } = node;
                        const marker = L.marker([latitude, longitude]).addTo(map);
                        const popupContent = `<div>
                            <p>Όνομα: ${node.tags.name}</p>
                            <button onclick="addOffer()">Προσθήκη προσφοράς</button>
                            </div>`;
                        
                        marker.bindPopup(popupContent).openPopup();
                        marker.on('click', function (e) {
                            lastClickedMarkerName = node.tags.name;
                        // Do whatever you want to do with the clickedMarkerTagsName here
                        //otherFunction(clickedMarkerTagsName);
                        
        });
                    });
                })
                .catch(error => {
                    console.log('Error:', error);
                });
        }
        
        // Function to handle the "Προσθήκη προσφοράς" button click
        function addOffer() {
            fetch('/api/categories')
                .then(response => response.json())
                .then(categories => {
                    const modal = document.createElement('div');
                    modal.className = 'modal';
    
                    const modalContent = document.createElement('div');
                    modalContent.className = 'modal-content';
    
                    const dropdownList = document.createElement('select');
                    dropdownList.id = 'categoryDropdown';
                    // Use a Set to store unique category names
                    const uniqueCategories = new Set();

                    categories.forEach(category => {
                        uniqueCategories.add(category.category);
                    });

                    // Convert the Set to an array and create options for the dropdown
                    const uniqueCategoriesArray = Array.from(uniqueCategories);
                    uniqueCategoriesArray.forEach(categoryName => {
                        const option = document.createElement('option');
                        option.value = categoryName;
                        option.text = categoryName;
                        dropdownList.appendChild(option);
                    });

                    // Add event listener to load subcategories
                    dropdownList.addEventListener('change', loadSubcategories);
    
                    modalContent.appendChild(dropdownList);
                    modal.appendChild(modalContent);
    
                    // Open the modal
                    document.body.appendChild(modal);
                })
                .catch(error => {
                    console.log('Error:', error);
                });
        }
        // Function to load subcategories based on the selected category
        let selectedProduct_id ;
        function loadSubcategories() {
            const selectedCategory = document.getElementById('categoryDropdown').value;
            
            fetch(`/api/subcategories?category=${selectedCategory}`)
                .then(response => response.json())
                .then(subcategories => {
                    const subcategoryDropdown = document.createElement('select');
                    subcategoryDropdown.id = 'subcategoryDropdown';
    
                    // Use a Set to store unique subcategory names
                const uniqueSubcategories = new Set();

                subcategories.forEach(subcategory => {
                    uniqueSubcategories.add(subcategory.subcategory);
                });

                // Convert the Set to an array and create options for the dropdown
                const uniqueSubcategoriesArray = Array.from(uniqueSubcategories);
                uniqueSubcategoriesArray.forEach(subcategoryName => {
                    const option = document.createElement('option');
                    option.value = subcategoryName;
                    option.text = subcategoryName;
                    subcategoryDropdown.appendChild(option);
                });

                // Clear any previously loaded subcategories
                const existingSubcategoryDropdown = document.getElementById('subcategoryDropdown');
                if (existingSubcategoryDropdown) {
                    existingSubcategoryDropdown.remove();
                }
    
                    // Append the new subcategory dropdown to the modal
                    const modalContent = document.querySelector('.modal-content');
                    modalContent.appendChild(subcategoryDropdown);
                    // Attach an event listener to the subcategory dropdown to load products when a subcategory is selected
                    document.getElementById('subcategoryDropdown').addEventListener('change', loadProducts);
                })};
        
                function loadProducts() {
                    const selectedSubcategory = document.getElementById('subcategoryDropdown').value;
                    console.log('loadProducts triggered');
                    fetch(`/api/products?subcategory=${selectedSubcategory}`)
                        .then(response => response.json())
                        .then(products => {
                            // Create a new table
                            const table = document.createElement('table');
                            table.id = 'productsTable';

                            // Create a table header row
                            const headerRow = document.createElement('tr');
                            const headerCell = document.createElement('th');
                            headerCell.textContent = 'Product Name';
                            headerRow.appendChild(headerCell);
                            table.appendChild(headerRow);
                            
                            // Add a row for each product
                            products.forEach(product => {
                                const row = document.createElement('tr');
                                const cell = document.createElement('td');
                                cell.textContent = product.name;
                                row.appendChild(cell);
                                table.appendChild(row);
                                // Add a click event listener to each product row
                                row.addEventListener('click', () => {
                                    console.log('product:',product)
                                    selectedProduct_id = product.id
                                    handleProductSelection(product); // Implement the selection logic
                                });
                            });

                            // Clear any previously loaded products table
                            const existingProductsTable = document.getElementById('productsTable');
                            if (existingProductsTable) {
                                existingProductsTable.remove();
                            }

                            // Append the new products table to the container
                            const tableContainer = document.querySelector('.productsTableContainer');
                            tableContainer.appendChild(table);
                        });
                }
                    function handleProductSelection(selectedProduct) {
                        
                        // Get the form container
                        const formContainer = document.querySelector('.productPriceFormContainer');

                        // Clear the form container if there's anything in it
                        formContainer.innerHTML = '';

                        // Create the form and its elements
                        const form = document.createElement('form');
                        const label = document.createElement('label');
                        const input = document.createElement('input');
                        const submitButton = document.createElement('button');
                        const errorMsg = document.createElement('div');
                        const dateLabel = document.createElement('label');
                        const dateInput = document.createElement('input');

                        // Set properties and content of the form elements
                        label.textContent = `Enter price for ${selectedProduct.name}: `;
                        input.type = 'text';
                        input.name = 'price';
                        input.required = true;

                        dateLabel.textContent = 'Enter date: ';
                        dateInput.type = 'date'; // The 'date' input type renders a date-picker
                        dateInput.name = 'date';
                        dateInput.required = true;

                        submitButton.type = 'submit';
                        submitButton.textContent = 'Submit';

                        
                        // Append the label, input, and button to the form
                        form.appendChild(label);
                        form.appendChild(input);
                        form.appendChild(submitButton);
                        form.appendChild(errorMsg);

                        form.appendChild(dateLabel);
                        form.appendChild(dateInput);

                        // Handle the form submission
                        form.addEventListener('submit', (event) => {
                            event.preventDefault();

                            const priceInput = input.value;
                            const dateInputValue = dateInput.value; // get date input value
                            const pricePattern = /^\d+\.\d{2}$/;  // Accepts numbers in the format X.XX

                            // If price doesn't match required format, log an error and return
                            if (!pricePattern.test(priceInput)) {
                                errorMsg.textContent = 'Invalid price entered. Please enter in the format X.XX';
                                return;
                            }

                            // If date is not provided, log an error and return
                            if (!dateInputValue) {
                                errorMsg.textContent = 'Date is required.';
                                return;
                            }

                            const price = parseFloat(priceInput);
                            logPriceAndName(price, lastClickedMarkerName, selectedProduct.id, dateInputValue); 
                            console.log(`Price for ${selectedProduct.name}: `, price);
                            console.log(`Date: `, dateInputValue);
                            // Add your logic here to handle the inputted price
                            // For example, you might want to send it to your server
                        });

                        // Append the form to the form container and make it visible
                        formContainer.appendChild(form);
                        formContainer.style.display = 'block';
                        }

                        let user_id;
                        function logPriceAndName(price, name, id, date) {
                            console.log('date:',date)
                            fetch(`/api/id?`)
                                .then(response => response.json())
                                .then(data => {
                                    user_id = data; // Store the decoded_id in a variable
                                })
                            fetch(`/api/prices?product_id=${id}`)
                                .then(response => response.json())
                                .then(data => {
                                    let fetchedData = data;
                                    let lastItem = fetchedData[fetchedData.length - 1];  // Access last item in the array
                                    let lastweekItem = fetchedData[fetchedData.length - 5]; // 5 days earlier , mporw na to kanw 7 
                                    console.log('Last item value: ', lastItem.value);
                                    console.log('last week value:',lastweekItem.value);
                                    // Check if price is less than 80% of the lastItem.value (which means it is 20% cheaper)
                                    if (price < lastItem.value * 0.8) {
                                        //50 points logo tou if (price < lastItem.value * 0.8)
                                        fetch('/api/points', {
                                            method: 'PUT',
                                            headers: {
                                                'Content-Type': 'application/json',
                                            },
                                            body: JSON.stringify({ userid: user_id.decodedId, points: 50 }),
                                        })
                                        .then(response => response.json())
                                        .then(data => {
                                            console.log('Response:', data);
                                        })
                                        .catch((error) => {
                                            console.error('Error:', error);
                                        });
                                    }
                                })
                                .catch(error => console.error('Error:', error));
                                fetch('/api/save/offer',{
                                    method: 'POST',
                                    headers:{
                                        'Content-Type': 'application/json',
                                    },
                                    
                                    //body: JSON.stringify({ shopname: name, offervalue: price, productid: id, startdate: date }),
                                    body: JSON.stringify({ shopname: name, offervalue: price, productid: id, start_date: date}),
                                })
                                    .then(response => response.json())
                                    .then(data => {
                                        console.log('Response:', data);
                                    })
                                    .catch((error) => {
                                        console.error('Error:', error);
                                    });
                        }
    </script>
    </body>
</html>
