<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
     <!-- Make sure you put this AFTER Leaflet's CSS -->
    
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""></script>
    <script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <style>
        #map 
            {
            height: 500px;
            }   

            
        .grayed-out {
            background-color: #d3d3d3;  /* gray color */
            cursor: not-allowed;
        }
        
    </style>
</head>
<body>

    <div id="map"></div>
    <input type="text" id="tagNameInput" placeholder="Enter tag name">
    <button id="createMarkersButton">Create Markers</button>
    <div class="productsTableContainer"></div>
    <p id="errorMsg" style="color:red;"></p>
    </div>
    <div class="productPriceFormContainer" style="display: none;"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrsasign/10.4.0/jsrsasign-all-min.js"></script>
    <script>
        let allMarkers = [];
        let logged_user ;
        let shop_list = [];
        let nearbyPopupsContent = [];
        let all_offers = [];
        let lastItem =[];
        let lastweekItem =[];
        let decodedid;
        let box ;
        let shop_name;
        var map = L.map('map')
        map.setView([38.2462420, 21.7350847], 16);
    
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

         // Geolocation code:
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                function (position) {
                    var latitude = position.coords.latitude;
                    var longitude = position.coords.longitude;

                    // Create a marker with the current location coordinates
                    var marker = L.marker([latitude, longitude], { draggable: true }).addTo(map);
                    
                    marker.on('dragend', function(event) {
                        let position = marker.getLatLng();

                        // Check proximity to other markers in the allMarkers array
                        allMarkers.forEach(existingMarker => {
                            const distance = marker.getLatLng().distanceTo(existingMarker.getLatLng());
                            if (distance <= 50) {
                                let popupContent = existingMarker.getPopup().getContent();
                                
                                nearbyPopupsContent.push(popupContent);
                                // Extract shop name using regex
                                const regex = /<strong>Shop Name:<\/strong>\s*(.+?)\s*<br>/s;
                                const match = popupContent.match(regex);

                                if (match && match[1]) {
                                    const shopName = match[1];
                                    shop_name = match[1]
                                    console.log('shopName', shop_name);
                                }
                            // Check if the button is already added to avoid adding it multiple times
                            if (decodedid === 2 && !popupContent.includes("id='addOfferBtn'")){
                                popupContent += `
                            
                                <br><button id='addOfferBtn'>Προσθήκη προσφοράς</button><br>
                                <br><button id='delOfferBtn'>Αξιολόγηση - Διαγραφή προσφοράς</button><br>
                                                `;
                                existingMarker.bindPopup(popupContent).openPopup();
                            }
                            else if (!popupContent.includes("id='extraButton'") && decodedid != 2) {
                                popupContent += `
                                <br><button id='extraButton'>Αξιολόγηση Προσφορών</button><br>
                                <br><button id='addOfferBtn'>Προσθήκη προσφοράς</button><br>
                                                `;
                                existingMarker.bindPopup(popupContent).openPopup();
                            }
                            else {
                                existingMarker.openPopup();
                            }
                            
                            // Attach event listener to the button when the popup is opened
                            existingMarker.once('popupopen', function() {
                                
                                let btn = document.getElementById('extraButton');
                                let add_offer_btn = document.getElementById('addOfferBtn');
                                let del_offer_btn = document.getElementById('delOfferBtn');
                                if (btn && add_offer_btn) {
                                    btn.addEventListener('click', rate_offers_trial);
                                    add_offer_btn.addEventListener('click',addOffer);
                                }else{
                                    add_offer_btn.addEventListener('click',addOffer);
                                    del_offer_btn.addEventListener('click',rate_offers_trial);
                                }
                            });
                            }
                        });
                    });
                    marker.bindPopup("<b>Your Location</b>").openPopup();
                    map.panTo([latitude, longitude]);
                },
                function (error) {
                    console.log("Error getting current position:", error);
                }
            );
        } else {
            console.log("Geolocation is not supported by this browser.");
        }

        function find_user(){
            fetch(`/api/id`)
                .then(response => response.json())
                .then(users_info => {
                    console.log('users_info',users_info)
                    decodedid = users_info.decodedId;
                    return fetch(`/api/get_username?id=${decodedid}`);
                })
                .then(response => response.json())
                .then(usernamejson => {
                    logged_user = usernamejson[0].username
                    console.log('logged_user:', logged_user);
                })
                .catch(error => {
                    console.error('There was an error:', error);
                });
        }
        
        find_user();

        
        function rate_offers_trial(){
            console.log('rate_offers_trial_triggered')
            if (decodedid != 2){
            let popupContent = document.activeElement.closest('.leaflet-popup-content').innerHTML;
            let regexShopName = /<strong>Shop Name:<\/strong> (.*?)<br>/;
            let matchShopName = popupContent.match(regexShopName);
            let shopName;
            if (matchShopName && matchShopName[1]) {
                shopName = matchShopName[1];
                console.log(shopName);
            } else {
                console.log("Shop Name not found!");
            }
            window.location.href = `/rate_offers?ShopName=${shopName}`;
        }else{
            let popupContent = document.activeElement.closest('.leaflet-popup-content').innerHTML;
            let regexShopName = /<strong>Shop Name:<\/strong> (.*?)<br>/;
            let matchShopName = popupContent.match(regexShopName);
            let shopName;
            if (matchShopName && matchShopName[1]) {
                shopName = matchShopName[1];
                console.log(shopName);
            } else {
                console.log("Shop Name not found!");
            }
            window.location.href = `/rate_offers?ShopName=${shopName}`;
        }
        }

        
        function fetchAllOffers(){
            fetch(`/api/get_all_offers`)
            .then(response => response.json())
            .then(alloffers => {
                console.log('all offers:',alloffers)
                all_offers = alloffers;
            })
        }
        fetchAllOffers();

        

        let redIcon = L.icon({
                iconUrl: '/icons/offer.png', // Replace with the path to your custom marker image
                iconSize: [25, 41], // Size of the icon
                iconAnchor: [12, 41], // Point of the icon which will correspond to marker's location
                popupAnchor: [1, -34], // Point from which the popup should open relative to the iconAnchor
            });
        let shopData; // Variable to store the data result from the Overpass API
        let shopOffers = {};
        function create_offer_markers() {
           
            
            const patrasCoordinates = '38.2468,21.7347,38.3052,21.8031';
            
            const overpassQuery = `[out:json][timeout:25];
            
            (
            node["shop"="supermarket"](${patrasCoordinates});
            node["shop"="convenience"](${patrasCoordinates});
            );
            out center;`;

            
            

            fetch('https://overpass-api.de/api/interpreter', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded'
                },
                body: 'data=' + encodeURIComponent(overpassQuery)
            })
                .then(response => response.json())
                .then(data => {
                    shopData = data.elements;
                    console.log('shopData',shopData)
                    // Store the data in the shopData variable
                    return fetch(`/api/info`);
                })
                .then(response => response.json())
                .then(offerData => {
                    console.log('offerData',offerData) 
                    let fetchPromises = offerData.map(offer => {
                        return fetch(`/api/namecat_byID?id=${offer.product_id}`)
                            .then(response => response.json())
                            .then(data => {
                                const shopName = offer.shop_name;
                                
                                if (!shopOffers[shopName]) {
                                    shopOffers[shopName] = [];
                                }
                                if(offer.criteria === 0){
                                    offer.criteria = '20% less than the most recent value. ✅'
                                }
                                else if(offer.criteria === 1){
                                    offer.criteria = '20% less than the average value of the last 7 days. ✅'
                                }
                                else{
                                    offer.criteria = 'No criteria. ❌'
                                }
                                shopOffers[shopName].push({
                                    name: data[0].name,
                                    offer_value: offer.offer_value,
                                    date : offer.start_date,
                                    criteria: offer.criteria,
                                    likes : offer.likes,
                                    dislikes : offer.dislikes

                                });
                            });
                    });
                    
                    return Promise.all(fetchPromises);
                })
                .then(() => {
                    shopData.forEach(shop => {
                        if (shopOffers[shop.tags.name]) {
                            
                            const mapentries = shopOffers[shop.tags.name].map(offer => 

                            `<li><strong>Product Name:</strong> ${offer.name}<br> 
                            <strong>Price:</strong> ${offer.offer_value}<br>
                            <strong>Date:</strong> ${offer.date.split('T')[0]}<br>
                            <strong>Criteria:</strong> ${offer.criteria}<br> 
                            <strong>Likes:</strong> ${offer.likes}<br> 
                            <strong>Dislikes:</strong> ${offer.dislikes}</li>`).join('');
                            
                            if (mapentries) {
                                let newMarker = L.marker([shop.lat, shop.lon], {icon: redIcon})
                                    .addTo(map)
                                    .bindPopup(`

                                        <strong>Shop Name:</strong> ${shop.tags.name}<br>
                                        <strong>Discount products:</strong>${mapentries}<br>

                                    `)
                                    allMarkers.push(newMarker);
                                }
                            }
                        });
                    })
                    .catch(error => {
                        console.log('Error:', error);
                    });
                }
        create_offer_markers();
        
        // Add event listener to the button
        document.getElementById('createMarkersButton').addEventListener('click', find_store);
        document.getElementById('createMarkersButton').addEventListener('click', createMarkers);
        

       
        function find_store(){
            // Clear existing markers
            allMarkers.forEach(marker => {
                marker.remove();
            });
            let productMap = new Map();
            
            const tagName = document.getElementById('tagNameInput').value;
            let shopOffers = {};
            fetch(`/api/get_offers_categories`)
            .then(response => response.json())
            .then(offers_table => {
                offers_table.forEach(offer =>{
                    
                    const shopName = offer.shop_name;
                    if(offer.category === tagName){  
                        console.log(`found offer for id: ${offer.product_id}, on shop: ${offer.shop_name}`)
                        if (!shopOffers[shopName]) {
                                shopOffers[shopName] = [];
                            }
                            shopOffers[shopName].push({
                                shop_name: offer.shop_name,
                                name: offer.name,
                                offer_value: offer.offer_value,
                                date : offer.start_date,
                                likes : offer.likes,
                                dislikes : offer.dislikes
                            });
                        }})
                        shopData.forEach(shop => {
                        if (shopOffers[shop.tags.name]) {

                            const mapentries = shopOffers[shop.tags.name].map(offer => 

                            `<li><strong>Product Name:</strong> ${offer.name} 
                            <strong>Price:</strong> ${offer.offer_value} 
                            <strong>Date:</strong> ${offer.date.split('T')[0]}
                            <strong>Likes:</strong> ${offer.likes} 
                            <strong>Dislikes:</strong> ${offer.dislikes}</li>`).join('');
                            
                            if (mapentries) {
                                let newMarker = L.marker([shop.lat, shop.lon], {icon: redIcon})
                                    .addTo(map)
                                    .bindPopup(`
                                        <strong>Shop Name:</strong> ${shop.tags.name}<br>
                                        <strong>Discount products:</strong>${mapentries}<br>
                                    `);
                                    
                                    allMarkers.push(newMarker);
                    }
                }
            });
        })
        
    }


        let unique_list_of_names;

        //last markerclicked
        let lastClickedMarkerName;
        // Function to handle button click
        function createMarkers() {
            uniqueCategories = []
            fetch('/api/categories')
                .then(response => response.json())
                .then(categories => {
                    const uniqueCategories = new Set();
                    categories.forEach(category => {
                        uniqueCategories.add(category.category);
                    });
                })
                // Get the user input from the input field
                const tagName = document.getElementById('tagNameInput').value;
               
                // Filter the shopData based on the tag name
                const shopDataList = shopData.filter(node => node.tags && node.tags.name === tagName );
                
                if (shopOffers.hasOwnProperty(tagName)) {
                    
                    shopDataList.forEach(node => {
                    const { lat, lon } = node;
                    const marker = L.marker([lat, lon],{icon: redIcon}).addTo(map);
                    console.log('shopOffers',shopOffers)
                     // Use .map() and .join() to create a single string for popupContent
                    const popupContent = shopOffers[tagName].map(offer =>
                     `
                        <li>
                            <strong>Product Name:</strong> ${offer.name}
                            <strong>Price:</strong> ${offer.offer_value}
                            <strong>Date:</strong> ${offer.date.split('T')[0]}
                            <strong>Criteria:</strong> ${offer.criteria}
                            <strong>Likes:</strong> ${offer.likes}
                            <strong>Dislikes:</strong> ${offer.dislikes}
                        </li>`).join('');

                    marker.bindPopup(`
                                        <strong>Shop Name:</strong> ${tagName}<br>
                                        <strong>Discount products:</strong>${popupContent}<br>
                                    `)
                    allMarkers.push(marker)
                    })
                }else {
                    
                    shopDataList.forEach(node => {
                    const { lat, lon } = node;
                    const marker = L.marker([lat, lon]).addTo(map);
                    const popupContent = `
                        <strong>Shop Name:</strong> ${tagName}<br>
                    `;
                    
                    marker.bindPopup(popupContent)
                    allMarkers.push(marker)
                })
            }
                }
                // Create markers for the filtered nodes and add them to the map
                
        // Function to handle the "Προσθήκη προσφοράς" button click
        function addOffer() {
            fetch('/api/categories')
                .then(response => response.json())
                .then(categories => {
                    const modal = document.createElement('div');
                    modal.className = 'modal';
    
                    const modalContent = document.createElement('div');
                    modalContent.className = 'modal-content';
    
                    const dropdownList = document.createElement('select');
                    dropdownList.id = 'categoryDropdown';
                    // Create and add a default option
                    const defaultOption = document.createElement('option');
                    defaultOption.value = '';
                    defaultOption.text = 'Select Category';
                    defaultOption.selected = true;
                    defaultOption.disabled = true;
                    dropdownList.appendChild(defaultOption);

                    // Use a Set to store unique category names
                    const uniqueCategories = new Set();

                    categories.forEach(category => {
                        uniqueCategories.add(category.category);
                    });

                    // Convert the Set to an array and create options for the dropdown
                    const uniqueCategoriesArray = Array.from(uniqueCategories);
                    uniqueCategoriesArray.forEach(categoryName => {
                        const option = document.createElement('option');
                        option.value = categoryName;
                        option.text = categoryName;
                        dropdownList.appendChild(option);
                    });

                    // Add event listener to load subcategories
                    dropdownList.addEventListener('change', loadSubcategories);

                    modalContent.appendChild(dropdownList);
                    modal.appendChild(modalContent);

                    // Open the modal
                    document.body.appendChild(modal);
                })
                .catch(error => {
                    console.log('Error:', error);
                });
        }
        // Function to load subcategories based on the selected category
        let selectedProduct_id ;
        function loadSubcategories() {
            const selectedCategory = document.getElementById('categoryDropdown').value;
            
            fetch(`/api/subcategories?category=${selectedCategory}`)
                .then(response => response.json())
                .then(subcategories => {
                    const subcategoryDropdown = document.createElement('select');
            subcategoryDropdown.id = 'subcategoryDropdown';

            // Create and add a default option
            const defaultOption = document.createElement('option');
            defaultOption.value = '';
            defaultOption.text = 'Select Subcategory';
            defaultOption.selected = true;
            defaultOption.disabled = true;
            subcategoryDropdown.appendChild(defaultOption);

            // Use a Set to store unique subcategory names
            const uniqueSubcategories = new Set();

            subcategories.forEach(subcategory => {
                uniqueSubcategories.add(subcategory.subcategory);
            });

            // Convert the Set to an array and create options for the dropdown
            const uniqueSubcategoriesArray = Array.from(uniqueSubcategories);
            uniqueSubcategoriesArray.forEach(subcategoryName => {
                const option = document.createElement('option');
                option.value = subcategoryName;
                option.text = subcategoryName;
                subcategoryDropdown.appendChild(option);
            });

            // Clear any previously loaded subcategories
            const existingSubcategoryDropdown = document.getElementById('subcategoryDropdown');
            if (existingSubcategoryDropdown) {
                existingSubcategoryDropdown.remove();
            }

            // Append the new subcategory dropdown to the modal
            const modalContent = document.querySelector('.modal-content');
            modalContent.appendChild(subcategoryDropdown);

            // Attach an event listener to the subcategory dropdown to load products when a subcategory is selected
            document.getElementById('subcategoryDropdown').addEventListener('change', loadProducts);
        });
}
        
                function loadProducts() {
                    const selectedSubcategory = document.getElementById('subcategoryDropdown').value;
                    console.log('loadProducts triggered');
                    fetch(`/api/products?subcategory=${selectedSubcategory}`)
                        .then(response => response.json())
                        .then(products => {
                            // Create a new table
                            const table = document.createElement('table');
                            table.id = 'productsTable';

                            // Create a table header row
                            const headerRow = document.createElement('tr');
                            const headerCell = document.createElement('th');
                            headerCell.textContent = 'Product Name';
                            headerRow.appendChild(headerCell);
                            table.appendChild(headerRow);
                            
                            // Add a row for each product
                            products.forEach(product => {
                                
                                const row = document.createElement('tr');
                                const cell = document.createElement('td');
                                cell.textContent = product.name;
                                row.appendChild(cell);
                                table.appendChild(row);
                                // Add a click event listener to each product row
                                row.addEventListener('click', () => {
                                    console.log('product:',product)
                                    selectedProduct_id = product.id
                                    handleProductSelection(product); // Implement the selection logic
                                });
                            });

                            // Clear any previously loaded products table
                            const existingProductsTable = document.getElementById('productsTable');
                            if (existingProductsTable) {
                                existingProductsTable.remove();
                            }

                            // Append the new products table to the container
                            const tableContainer = document.querySelector('.productsTableContainer');
                            tableContainer.appendChild(table);
                        });
                }
                    function handleProductSelection(selectedProduct) {
                        
                        // Get the form container
                        const formContainer = document.querySelector('.productPriceFormContainer');

                        // Clear the form container if there's anything in it
                        formContainer.innerHTML = '';

                        // Create the form and its elements
                        const form = document.createElement('form');
                        const label = document.createElement('label');
                        const input = document.createElement('input');
                        const submitButton = document.createElement('button');
                        const errorMsg = document.createElement('div');

                        const stockLabel = document.createElement('label');
                        const stockSelect = document.createElement('select');
                        const optionYes = document.createElement('option');
                        const optionNo = document.createElement('option');

                        // Set properties and content of the form elements
                        label.textContent = `Enter price for ${selectedProduct.name}: `;
                        input.type = 'text';
                        input.name = 'price';
                        input.required = true;

                        stockLabel.textContent = 'Is the selected product in stock? ';
                        optionYes.value = 'yes';
                        optionYes.textContent = 'Yes';
                        optionNo.value = 'no';
                        optionNo.textContent = 'No';
                        stockSelect.appendChild(optionYes);
                        stockSelect.appendChild(optionNo);

                        submitButton.type = 'submit';
                        submitButton.textContent = 'Submit';

                        
                        // Append the label, input, and button to the form
                        form.appendChild(label);
                        form.appendChild(input);
                        form.appendChild(stockLabel);
                        form.appendChild(stockSelect);
                        form.appendChild(submitButton);
                        form.appendChild(errorMsg);

                        // Handle the form submission
                        form.addEventListener('submit', (event) => {
                            event.preventDefault();

                            const priceInput = input.value;
                            let  stockStatus = stockSelect.value;  // This will be either "yes" or "no"
                            const pricePattern = /^\d+\.\d{2}$/;  // Accepts numbers in the format X.XX
                           

                            // If price doesn't match required format, log an error and return
                            if (!pricePattern.test(priceInput)) {
                                errorMsg.textContent = 'Invalid price entered. Please enter in the format X.XX';
                                return;
                            }

                            const price = parseFloat(priceInput);
                            
                            console.log(`Price for ${selectedProduct.name}: `, price);
                            console.log(`Is the selected product in stock? ${stockStatus}`);
                            if (stockStatus === 'no'){
                                console.log('change triggered')
                                stockStatus = 0;
                            }
                            else{
                                stockStatus = 1;
                            }
                            console.log('stockstatus',stockStatus)
                            logPriceAndName(price, lastClickedMarkerName, selectedProduct.id, stockStatus); 
                            // Add your logic here to handle the inputted price
                            // For example, you might want to send it to your server
                        });

                        // Append the form to the form container and make it visible
                        formContainer.appendChild(form);
                        formContainer.style.display = 'block';
                        }

                        
                        async  function logPriceAndName(price, name, id, stock) {
                            let sum = 0;
                            let criteria_int ;
                            let sevendaysaverage;
                            const today = new Date();
                            const formattedDate = formatDate(today);  // Format today's date
                            today.setDate(today.getDate() + 7);
                            // Convert the Date object to a string in the format 'YYYY-MM-DD'
                            const expire_date = today.toISOString().split('T')[0];
                            console.log('formattedDate',formattedDate)

                            // Subtract 7 days to get the start date
                            const startDate = subtractDays(stringToDate(formattedDate), 7);

                            // Array to store the dates of the last 7 days
                            const lastSevenDays = [];
                            let lastItem = [];

                            // Loop through each day from 7 days ago until today (exclusive)
                            for (let i = 0; i < 7; i++) {
                                const currentDay = new Date(startDate.getTime());
                                currentDay.setDate(startDate.getDate() + i);
                                lastSevenDays.push(formatDate(currentDay));
                            }
                            
                            const offerExists = all_offers.some(offer =>
                            offer.product_id === id && 
                            offer.offer_value === String(price) && 
                            offer.shop_name === String(name)
                            
                            );
                           
                            const cheaperOfferExists = all_offers.some(offer =>
                            offer.product_id === id && 
                            offer.shop_name === String(name) &&
                            parseFloat(offer.offer_value) * 0.8 > parseFloat(price)  // this line checks if the new price is 20% less than the existing price
                            );

                            console.log('offerExists',offerExists)
                            console.log('cheaperOfferExists',cheaperOfferExists)

                            const lastSevenDaysString = lastSevenDays.join(',');
                            console.log('lastSevenDaysString',lastSevenDaysString)
                            const response = await fetch(`/api/prices?product_id=${id}&lastSevenDays=${lastSevenDaysString}`)
                                .then(response => response.json())
                                .then(lastSevenDaysRows => {                                   
                                    lastSevenDaysRows.forEach(row => {
                                        lastItem.push(row.value)
                                        sum += row.value
                                        
                                    });
                                    
                                    sevendaysaverage = sum / 7
                                    
                                })
                            
                                // IF OFFER EXISTS
                            if (offerExists) {
                                console.log('the offer already exists');
                            }
                            // IF NEW OFFER IS 20% CHEAPER THAN THE OFFER THAT ALREADY EXISTS
                            else if (cheaperOfferExists){
                                console.log('Fetching the offer as the price is at least 20% less than the existing one');    
                                if (price < lastItem.pop() * 0.8) {
                                    console.log('50 points triggered')
                                    criteria_int = 1;
                                }
                                else if (price < sevendaysaverage * 0.8) {
                                    console.log('20 points triggered')
                                    criteria_int = 2;
                                }
                                else{
                                    console.log('No criteria')
                                    criteria_int = 0;
                                }
                               
                            fetch('/api/save/offer',{
                                method: 'POST',
                                headers:{
                                    'Content-Type': 'application/json',
                                },
                                
                                body: JSON.stringify({ 
                                    shopname: shop_name, 
                                    offervalue: price, 
                                    productid: id, 
                                    start_date: formattedDate, 
                                    stock : stock, 
                                    rate:0, 
                                    discount_hunter:logged_user, 
                                    likes:0, 
                                    dislikes:0, 
                                    criteria: criteria_int,
                                    expire_date: expire_date}),
                            })
                                .then(response => response.json())
                                .then(data => {
                                    console.log('Response:', data);
                                })
                                .catch((error) => {
                                    console.error('Error:', error);
                                });
                            }
                            else if (!offerExists){
                                console.log('offer does not exist')
                                if (price < lastItem.pop() * 0.8) {
                                    console.log('50 points triggered')
                                    criteria_int = 1;
                                }
                                else if (price < sevendaysaverage * 0.8) {
                                    console.log('20 points triggered')
                                    criteria_int = 2;
                                }
                                else{
                                    console.log('No criteria')
                                    criteria_int = 0;
                                }
                                fetch('/api/save/offer',{
                                method: 'POST',
                                headers:{
                                    'Content-Type': 'application/json',
                                },
                                
                                body: JSON.stringify({ 
                                    shopname: shop_name, 
                                    offervalue: price, 
                                    productid: id, 
                                    start_date: formattedDate, 
                                    stock : stock, 
                                    rate:0, 
                                    discount_hunter:logged_user, 
                                    likes:0, 
                                    dislikes:0, 
                                    criteria : criteria_int,
                                    expire_date:expire_date}),
                            })
                                .then(response => response.json())
                                .then(data => {
                                    // Now check the conditions for points
                                    if (criteria_int === 1) {
                                        return fetch('/api/points', {
                                            method: 'PUT',
                                            headers: {
                                                'Content-Type': 'application/json',
                                            },
                                            body: JSON.stringify({ user_name: logged_user, points: 50 })
                                        });
                                    } else if (criteria_int === 2) {
                                        return fetch('/api/points', {
                                            method: 'PUT',
                                            headers: {
                                                'Content-Type': 'application/json',
                                            },
                                            body: JSON.stringify({ user_name: logged_user, points: 20 })
                                        });
                                    }
                                    else{
                                        console.log('Not matching the criteria to get points, but the offer is stored!')
                                    }
                                })
                        .then(response => {
                            // This block will execute if one of the conditions for points was true and a fetch was made.
                            // Convert the response to JSON (if it is in JSON format)
                            if (response) {
                                return response.json();
                            }
                        })
                        .then(data => {
                            // This block will execute if one of the conditions for points was true and a fetch was made.
                            if (data) {
                                console.log('Points Response:', data);
                            }
                        })
                        .catch((error) => {
                            console.error('Error:', error);
                        });
                    }
                }

 // Dates calculators
function stringToDate(dateString) {
    return new Date(dateString);
}

function subtractDays(date, days) {
    const copyDate = new Date(date.getTime());
    copyDate.setDate(copyDate.getDate() - days);
    return copyDate;
}

function formatDate(date) {
    return `${date.getFullYear()}-${String(date.getMonth() + 1).padStart(2, '0')}-${String(date.getDate()).padStart(2, '0')}`;
}
    
    </script>
    </body>
</html>
